:root {
    --branding-color: #6C63FF;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', serif;
    --secondary-color: #F9F7FE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 62px;
}

h3 {
    font-size: 48px;
}

p {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 80px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
}

.content-container {
    padding: 60px 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 1.5;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}

.content p {
    font-size: 14px;
}

.content-container img {
    max-height: 560px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
}

.content {
    margin: 30px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 30px;
    text-decoration: none;
}

.btn-branding:hover {
    color: var(--branding-color);
    background-color: white;
    border-color: var(--branding-color);
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 30px;
    text-decoration: none;
}

.btn-branding-outline:hover {
    color: white;
    background-color: var(--branding-color);
}

.project-description {
    padding: 120px 60px;
}

.navigation {
    border-right-width: 50px;
    border-left-width:50px;
    border-color: white;
    border-style: solid;
}

.logo {
    max-height: 40px;
}

nav {
    padding: 20px 0;
    background-color: white;
}

nav ul {
    padding: none;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a
{
    color: var(--branding-color);
}

footer {
    margin: 60px 0;
}

footer .contact-box {
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
    margin: 30px;
}

footer .contact-box p {
    margin: 0px;
}

footer .contact-box .btn {
    margin: 40px 0px;
}

footer .email-link {
    text-decoration: none;
    color: var(--branding-color);
    font-size: 24px;
    display: block;
    text-align: center;
}

footer .email-link:hover {
    text-decoration: underline;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background-color: var(--branding-color);
}

.contact-information a {
    color: var(--branding-color);
    text-decoration: none;
}

.contact-information a:hover {
    text-decoration: underline;
}

footer .open-source-link {
    color: var(--branding-color);
    text-decoration: none;
}

footer .open-source-link:hover {
    text-decoration: underline;
}

@media (max-width: 960px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
    }
    h2 {
        font-size: 44px;
    }
    .project-description {
        padding: 0px 10px;
        text-align: center;
    }

    .content {
        text-align: center;
        padding: 0px;
    }
    nav a {
        font-size: 14px;
    }
}